matplotlib==3.3.4
numpy==1.20.1
pandas
Pillow==8.1.1
pyparsing==2.4.7
python-dateutil==2.8.1
tqdm==4.58.0
fastai==2.1.9
opencv-python==4.4.0.46
opencv-python-headless==4.4.0.46
scikit-learn==0.23.2
albumentations==0.5.2
